* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('head.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.5); /* 半透明背景颜色 */
    z-index: -1;
}

/* 导航 */
nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 5vw;
    height: 80px;

    background-color: rgba(65, 81, 101, 0.9);
    z-index: 99;
}

/* 导航logo */
.logo {

    flex: 1;

    font-size: 24px;
    font-weight: 600;

    color: #dadbdd;
    z-index: 99;
}

/* 导航菜单 */
.nav-menu {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    max-width: 550px;
    z-index: 99;
}

/* 导航菜单子模块 */
.nav-menu li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    font-weight: 600;

    height: 100%;

    color: #dadbdd;
    z-index: 99;
}

/* 导航栏的hover效果 */
.nav-menu li:hover {
    background-color: #95abfc;
}

/* 导航线 */
.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    margin: 4px;

    background-color: #dadbdd;
}

body {
    background-image: url('head.jpg');
    background-size: cover;
    /* background-position: center; */
    background-attachment: fixed;
    /* 其他背景属性 */
  }

  .box{
    position: relative;
    display: flex;
    top: 80px;
    justify-content: center;
    align-items: center;
  }
.part1{
    position: absolute;
    display: flex;
    top: 80px;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.part2{
    position: absolute;
    display: flex;
    top: 580px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.part3{
    position: absolute;
    display: flex;
    width: 100%;
    top: 1080px;
    justify-content: center;
    align-items: center;
}
.img1{
    display: flex;
    position: absolute;
    width: 90%;
    height: 40vh;
    top: 80px;
    background-image: url("photo/records1.jpg");
    background-position: center;
    background-size: cover;

    border-radius: 20%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.img2{
    display: flex;
    position: absolute;
    width: 90%;
    height: 40vh;
    top: 80px;
    background-image: url("photo/records2.jpg");
    background-position: center;
    background-size: cover;

    border-radius: 20%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.img3{
    display: flex;
    position: absolute;
    width: 90%;
    height: 40vh;
    top: 80px;
    background-image: url("photo/records3.jpg");
    background-position: center;
    background-size: cover;

    border-radius: 20%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.study{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;


    font-size: x-large;
    font-weight: bold;

    top: 80px;
    z-index: 99;
}


.skill{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;


    font-size: x-large;
    font-weight: bold;

    top: 80px;
    z-index: 99;
}

.book{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;


    font-size: x-large;
    font-weight: bold;

    top: 80px;
    z-index: 99;
}


/* 检测屏幕大小，更改网页属性 */
@media screen and (max-width:768px) {
    body {
        background-image: url('head.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        /* 其他背景属性 */
      }
    /* 使竖向菜单栏隐藏，并设置了大小 */
    .nav-menu {
        display: none;
        position: absolute;
        flex-direction: column;
        align-items: center;

        top: 0px;
        right: 0px;
        bottom: 0px;
        width: 50vw;
        height: calc(100vh - 80px);

        background-color: rgba(65, 81, 101, 0.9);

        transition: 0.4s ease-in-out;
    }

    /* 竖向菜单栏open状态 */
    .nav-menu.open {
        display: flex;
        justify-content: flex-start;
        align-content: center;
        font-size: x-large;

        transform: translateX(0);
    }

    /* 竖向菜单栏的元素 */
    .nav-menu li {
        margin: 3vh;
        width: 100%;
        opacity: 0;

        transform: translateX(20px);
        /* 使元素平移进入 */
    }

    /* 导航线按钮的状态改变 */
    .burger {
        display: block;
    }

    .burger.active div {
        transition: 0.3s ease-in-out;
    }

    /* 导航线的动画 */
    .burger.active .top-line {
        transform: rotate(45deg) translate(4px, 6px);
    }

    .burger.active .bottom-line {
        transform: rotate(-45deg) translate(4px, -6px);
    }

    .burger.active .middle-line {
        opacity: 0;
        transform: translate(10px);
        transition: 0.3s ease-in-out;
    }

    @keyframes slideIn {
        form {
            transform: translateX(20px);
            opacity: 0;
        }

        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
    .img1{
        display: flex;
    position: relative;
    width: 100%;
    height: 20vh;
    top: 80px;
    background-image: url("photo/records1.jpg");
    background-position: center;
    background-size: cover;
    }

}

